*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
  font-family: Arial, sans-serif;
  color: #fff;
}

.container{
  width: 1000px;
  margin: 0 auto;
}
                    
                    header{
                      display: flex;
                      background: url('img/first-bg.jpg') no-repeat center;
                      background-size: cover;
                      -webkit-background-size: cover;
                      -moz-background-size: cover;
                      -o-background-size: cover;
                      background-blend-mode: multiply;
                      background-color: #3B65A2;
                      width: 100%;
                      height: 500px;   
                    }

                    .head_block{
                      width: 100%;
                      display: flex;
                    }

                    .header_logo{
                      margin-top: 15px;
                      margin-left: 12%;
                    }

                    .header_logo img:hover{
                      -webkit-animation: swing 0.3s ease;
                      animation: swing 0.3s ease;
                      -webkit-animation-iteration-count: 1;
                      animation-iteration-count: 1;
                    }

                     

/* меню */

.nav{
  margin-top: 56px;
  margin-left: 28%;
} 

.nav ul {
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  *display:inline; /* ie7 */
}

.nav a {
  padding: 3px 12px;
  text-decoration: none;
  color: #999;
  line-height: 100%;
}

.nav a:hover {
  background: #FED337;
  color: #fff;
  border-radius: 3px;
}

/* меню по центру */
.nav.center ul {
  text-align: center;
}



                    .item{
                      padding-top: 100px;
                    }

                    .button{
                      margin-top: 10px;
                    }

                    .button a{
                    text-align: center; 
                    width: 240px;
                    background: #FFCD37;
                    color: #fff;
                    text-decoration:none;
                    border-radius: 3px;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 18px;
                    display: block;
                    padding: 20px 0;
                    margin: 0 auto;
                  }

                  .button a:hover{
                    color: #464445;
                  }

                  .wrap-text {
                    text-align: center;
                     width: 100%;
                  }

                  .wrap-text p{
                      font-size: 40px;
                  }

                  h1{
                    font-size: 62px;
                  }



.title{
  padding-top: 50px;
}

.title h2{
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.title p{
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
}

.services{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.services_item{
  margin-top: 70px;
  width: 270px; 
}

.services_item h3{
  font-size: 18px;
  margin-bottom: 5px;
}

.services_item p{
  font-size: 14px;
  color: #777;
  line-height: 1.55em;
}

#services{
  display: flex;
  background-color: #333; 
  padding-bottom: 120px;
  text-align: center;
}

          #portfolio{
            background: url('img/rave.jpg') no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-blend-mode: multiply;
            display: flex;
            text-align: center; 
          }

          .works{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding-bottom: 120px;
          }

          .works a{
            margin-top: 70px;
          }
                     
                     #about_us{
                      display: flex;
                      text-align: center;
                     } 

                    #about_us h2{
                      color: #333;
                    }

                     #about_us p{
                      color: #333;
                     }

                    .deadline{
                      margin: 0 auto;
                      padding-bottom: 30px;
                    }

                    .nomore_1{
                      width: 818px;
                      text-align: right;
                      display: inline-flex;
                      color: #222;
                      padding: 30px 0px;
                    }

                    .uno{
                      width: 283px;
                      order: -1;
                    }

                    #img_1{
                      width: 183px;
                      height: 183px;
                      margin-left: 30px;
                    }

                    .nomore_2{
                      width: 818px;
                      display: inline-flex;
                      text-align: left;
                      color: #222;
                    } 

                    .dos{
                      width: 283px;
                    }

                    #img_2{
                      margin-right: 30px;
                    }

                    .deadline h3{
                      color: #222222;
                    }

                    .deadline p{
                      color: #777777;
                    }

                    .text{
                      line-height: 1.55em;
                      padding-top: 5px;
                    }

                    .cloud{
                      order: 1;
                      width: 191px;
                      height: 100px;
                      /*background-color: #999;*/
                    }
                    
                    .cloud_two{
                      margin-right: 30px;
                      order: -1;
                      width: 283px;
                      height: 100px;
                     /* background-color: #999;*/
                    }

footer{
display: flex;
background: #222;
color: #f7f7f7;
height: 50px;
padding-top: 20px;
}

footer p{
text-align: center;
}


                       @media screen and (max-width: 1200px){
                          .nav{
                              margin-left: 20%;
                          }  
                       }

                        @media screen and (max-width: 1024px){
                          .nav{
                            margin-left: 10%;
                          } 
                        }     

                        @media (max-width: 840px){

                        header{
                          height: 356px;
                        }

                        .heading{
                          padding-top: 15px;
                        }

                        .item{
                          padding-top: 50px;
                        }

                        .nomore_1{
                          position: relative;
                          margin-top: 30px;
                          width: 300px;
                          height: 366px;
                          padding-left: 15px;
                          padding:0 0 0 15px; 
                        }

                        #img_1{
                          position: absolute;
                          top: 0px;
                          left: 64px;
                          margin-left: 0;
                          float: none;
                        }

                        .nomore_2{
                          position: relative;
                          width: 300px;
                          height: 366px;
                        }

                        #img_2{
                          position: absolute;
                          top: 0;
                          left: 64px;
                          float: none;
                        }

                        .text{
                          position: absolute;
                          bottom: 0;
                          text-align: center;
                        }

                        .dos{
                          margin-left: 10px;
                        }

                        .cloud{
                          width: 0;
                          height: 0;
                        }

                        .cloud_two{
                          width: 0;
                          height: 0;
                        }
                      }

                      @media screen and (max-width: 768px) {
                        
                        .wrap-text p{
                          font-size: 25px;
                        }

                        h1{
                          font-size: 40px;
                        }
                        
                        .nav {
                          position: relative;
                          min-height: 40px;
                        } 

                        .nav ul {
                          width: 180px;
                          padding: 5px 0;
                          position: absolute;
                          top: 0;
                          left: 0;
                          border: solid 1px #aaa;
                          background: #fff url(img/icon-menu.png) no-repeat 10px 11px;
                          border-radius: 5px;
                          box-shadow: 0 1px 2px rgba(0,0,0,.3);
                        }

                        .nav li {
                          display: none; /* скрыть все <li> пункты */
                          margin: 0;
                        }

                        .nav .current {
                          display: block; /* показывать только текущие активные <li> пункты */
                        }

                        .nav a {
                          display: block;
                          padding: 5px 5px 5px 32px;
                          text-align: left;
                        }

                        .nav .current a {
                          background: none;
                          color: #999;
                        }

                        /* при наведении на пункты меню */
                        .nav ul:hover {
                          background-image: none;
                        }

                        .nav ul:hover li {
                          display: block;
                          margin: 0 0 5px;
                        }

                        .nav ul:hover .current {
                          background: url(img/icon-check.png) no-repeat 10px 7px;
                        }

                        /* адаптивное меню по центру */
                        .nav.center ul {
                          left: 50%;
                          margin-left: -90px;
                        } 
                      }

                    @media (max-width: 490px){

                         header{
                          height: 280px;
                        }   

                         .wrap-text p{
                          font-size: 20px;
                        }

                        h1{
                          font-size: 25px;
                        }

                        .item {
                          padding-top: 30px;
                        }
                    }

                     @media (max-width: 425px){

                          .head_block{
                            width: 50%;
                          }
                     }











