*{
	margin: 0px;
	padding: 0px;
}

.container{
	width: 1000px;
	margin: 0px auto;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}

			header{
				font-size: 14px;
				background-color: #ECE6DA;
			}

			.my_menu ul li a{
				float: left;
				padding-right: 35px;
				padding-top: 22px;
				color: #333;
			}

			.town a{
				background: url('img/arrow_down.png') no-repeat top right;
				background-position: 90% 97%;
			}
			
			.dashed{
				border-bottom: 1px dashed #333;
			}

			.phone{
				padding: 20px 0px;
				float: right;
			}

			.phone p{
				color: #474644;
				padding-top: 3px;
				float: right;
				padding-left: 10px;
			}

			.phone a{
				font-size: 16px;
				float: right;
				color: #666;
				font-weight: 900;
			}

.logo_block a{
	font-size: 14px;
	color: #333;
}

.logo{
	float: left;
	padding: 25px 0px;
}

.hole{
	 height: 44px;
	display: inline-block;
	border: 2px solid #aaa;
	margin-left: 25px;
	margin-top: 36px;
}

.search{
	width: 195px;
	height: 42px;
	padding-left: 15px;
	margin-bottom: 35px;
	opacity: 0.5;
	border: none; 
    outline: none; 
    -webkit-appearance: none;
    vertical-align: middle; 
}	

.search:hover{
	opacity: 1;
}

.submit{
	width: 35px;
	height: 42px;
	border: none;
	background: url('img/search.png') no-repeat 50% 50%;
	opacity: 0.5;
	outline: none;
   	cursor: pointer;
}		

.submit:hover{
	opacity: 1;
}

.shopping_list{
	position: relative;
	float: right;
	width: 174px;
	height: 43px;
	padding-top: 40px;
}

.shopping_list img{
	padding-right: 10px;
}

.shopping_list p{
	float: right;
}

.three_strips{
	position: absolute;
	bottom: 8px;
	left: 45px;
}

.shopping_list .money{
	font-weight: 600;
}

.user{
	background: url('img/person.png') no-repeat top left;
	background-size: 50px;
	background-position: 0% 0%; 
	float: right;
	padding:7px 25px 0px 60px;
	margin-top: 33px;
}

.cart{
	float: left;
}

.user p{
	font-size: 14px;
	color: #333;
}

.user a{
	font-weight: 600;
}

				.menu{
					background-color: #EADEC6;
				}

				.big_menu{
					overflow: hidden;
					padding: 15px 0px; 
				}

				.big_menu ul li a{
					float: left;
					margin-right: 35px;
					text-transform: uppercase;
					font-weight: 900;
					font-size: 15px;
					color: #333;
				}

.order{
	padding-top: 25px;
}				

.order ul li{
	float: left;
	font-size: 13px;
}		

.order ul li a{
	font-size: 13px;
	background: url('img/arrow_right.png') no-repeat top right;
	background-position: 100% 50%;
	background-size: 12px;
	padding-right: 30px;
	margin-right: 10px;
	color: #999;
}

				h1{
					padding-top: 35px;
					font-size: 35px;
					letter-spacing: 3px;
				}	

				.payment{
					padding-top: 25px;
					margin-left: 35%;
				}

				.payment ul li a{
					font-size: 13px;
					float: left;
					text-align: center;
					background: url('img/arrow_right.png') no-repeat top right;
					background-position: 100% 50%;
					background-size: 10px;
					padding-right: 30px;
					margin-right: 10px;
					color: #333;
				}	

				.payment ul li{
					font-size: 13px;
					color: #333;
				}

				#brown a{
					color: #BEAC85;
					font-size: 13px;
				}

.recipient{
	padding-top: 20px;
}				

.recipient h5{
	padding: 5px 0px 15px 35px;
	font-size: 18px;
	background: url('img/head.png') no-repeat top left;
	background-position: 0% 15%;
}

.big_border{
	width: 608px;	
}

.borders{
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #B9B9B7; 
	width: 280px;
	height: 38px;
	float: left;
	overflow: hidden;
}

.mail{
	border: 0px;
	width: 260px;
	height: 38px;
	color: #aaa;
	padding-left: 20px;
	float: left;
	outline: none;
}

				.delivery h5{
					padding: 5px 0px 15px 35px;
					font-size: 18px;
					background: url('img/cart_2.png') no-repeat top left;
					background-position: 0% 15%;
				}

				.shipping_choice{
					width: 230px;
					height: 270px;
					float: left;
					padding-right: 18px;
					padding-left: 2px; 
				}

				.border img{
					position: relative;
					right: 10px;
					bottom: 24px;
					float: right;
				}

				.border{
					border: 2px solid #ccc;
					width: 229px;
					height: 122px; 
					border-radius: 5px;
				}

				.active{
					box-shadow: 0 0px 3px 3px #EADEC6; 
				}

				.border h4{
					padding-top: 20px;
					padding-left: 10px;
					font-size: 20px;
					color: #000;
				}

				.border p{
					font-size: 13px;
					color: #000;
					padding-left: 10px;
				}

				.border span{
					font-weight: 900;
				}

				.border .brown{
					color: #80642D;
					font-size: 14px;
				}

				.picture{
					font-size: 14px;
					padding-top: 22px;
				}

				.border_none{
					font-size: 13px;
					padding-top: 20px;
					padding-left: 10px;
					color: #999;
				}

				.border .mini_logo{
					bottom: 18px;
				}

.advantages{
	background-color: #EADEC6;
}	

.best{
	float: left;
	padding: 20px 30px 20px 0px;
}	

.best p{
	text-align: center;
	font-size: 12px;
}

.best, img{
	text-align: center;
}

				footer{
					background-color: #E9E3D7;
					position: relative;
				}

				.about_us{
					float: left; 
					padding-bottom: 25px;
					padding-right: 50px;
				}

				footer h6{
					padding-top: 30px;
					padding-bottom: 20px;
					font-size: 15px;
				}

				.about_us a{
					color: #5D5B56;
					font-size: 14px;
					padding-bottom: 15px;
				}

				.social img{
					width: 55px;
					padding-right: 10px;
				}

				.email{
					width: 174px;
					height: 39px;
					padding-left: 20px;
					margin-bottom: 9px;
					color: #999;
					outline: none;
				}

				.sub_email{
					background-color: #E9123B;
					text-transform: uppercase;
					color: #fff;
					width: 198px;
					height: 39px;
					margin-bottom: 16px;
					font-size: 15px;
					border: none;
					border-radius: 5px; 
					outline: none;
					cursor: pointer;
					opacity: 0.5;
				}

				.sub_email:hover{
					opacity: 1;
				}



				.discount{
					width: 198px;
					height: 133px;
					float: right;
					position: relative;
					bottom: 94px;
				}

				.discount a{
					color: #40A5E5;
					text-decoration: underline;
				}

				.discount p{
					font-size: 13px;
				}

				.agreed{
					margin-left: 25px;
					position: absolute;
					bottom: -5px;
				}

@media (max-width: 767px) {
	
	.container{
		width: 300px;
		overflow: hidden;
	}
	
	.my_menu{
		padding-top: 5px;
		padding-bottom: 10px;
	}
	
	.my_menu ul li{
		padding-top: 5px;
	}

	.my_menu ul li a{
		float: none;
	} 
	
	.phone{
		position: absolute;
		top: 10px;
		right: 15%;
		padding: 0px;
	}
	.phone p{
		float: none;
		padding-top: 0px;
	}

					.logo{
						padding-left: 20px;
						padding-bottom: 0px;
						padding-top: 15px;
					}

					.hole{
						margin-left: 20px;
						margin-top: 15px;
					}

					.shopping_list{
						float: none;
						padding-top: 20px;
						padding-left: 20px;
					}

					.three_strips{
						left: 65px;
					}

					.user{
						float: none;
						margin: 15px 0px 15px 15px;

					}

.big_menu ul li a{
	float: none;
	margin: 0px;
}

.big_menu ul li{
	text-align: center;
	padding-bottom: 5px;
} 

					.order{
						display: none;
						padding-top: 20px;
					}

					h1{
						padding-top: 20px;
						text-align: center;
					}

					.payment{
						display: none;
						margin-left: 0px;
						text-align: center;
						padding-left: 5px;
					}
					
					.payment ul li a{
						padding-right: 20px;
					}

					.big_border{
						width: 300px;
					}

.shipping_choice{
	padding-left: 10%;
	height: 235px;
}

					.advantages{
						padding-top: 15px;
					}

					.best{
						float: none;
						padding-right: 0px;
						padding-top: 0px;
					}

footer h6{
	padding: 15px 0px; 
}	

.about_us{
	text-align: center;
	float: none;
	padding-right: 0px;
	padding-bottom: 10px;
}	

.social{
	text-align: center;
	padding-bottom: 15px;
}	

.discount{
	float: none;
	position: static;
	padding-left: 45px;
	height: 163px;
}	

.agreed{
	bottom: 25px;
}	

}



@media (min-width: 768px) and (max-width: 1023px){
	
	.container{
		width: 728px;
	}

	.my_menu{
		padding-left: 55px;
	}

	.phone{
		float: left;
		padding-left: 55px;
	}


				.order{
						display: none;
				}

				.payment{
						display: none;
				}	

				.logo{
					padding: 20px 0px 0px 55px;
				}

				.hole{
					margin-top: 33px;
				}

				.shopping_list{
					padding: 20px 20px 0px 55px;
				}

				.three_strips{
						left: 100px;
					}

				.user{
					float: left;
					margin: 13px 0px 20px 50px;
				}

	.big_menu ul li a{
		margin-right: 25px;
	}	

				h1{
					padding-top: 20px;
				}
				
				.payment{
					margin-left: 0px;
				}	

.delivery h5{
	margin-left: 50px;
}

.shipping_choice{
	height: 230px;
	padding-left: 50px;
}	

				.best p{
					font-size: 8px;
				}

.about_us{
	padding-right: 60px;
	padding-left: 20px;
}	

.social{
	padding-left: 20px;
}	

.discount{
	right: 50px;
}						


}				